td{
    border: 1px solid gainsboro;
}

table {
    table-layout:fixed;
}
table td {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: .5rem;
}
.w-20{
    width: 20%;
}
.w-25{
    width: 25%;
}