<div class="d-flex justify-content-around">
    <a routerLink="/roles" class="">
        <div class="card m-5 shadow p-3 rounded" style="width: 19rem;">
            <img class="card-img-top" src="../../../assets/roles2.jpg" style="height: 230px;" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-primary">
                    <h5>Roles</h5>
                </h5>
                <p class="card-text">Roles ia a thing that inform every one what he where Some quick example text to
                    build
                    on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </a>
    <a routerLink="/permissions">
        <div class="card m-5 shadow p-3 rounded" style="width: 18rem;">
            <img class="card-img-top" src="../../../assets/permissions2.png" style="height: 230px;"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-primary">
                    <h5>Permissions</h5>
                </h5>
                <p class="card-text">Permissions tell everyone what can he do Some quick example text to build on the
                    card
                    title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </a>
</div>